{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        {{ if .Params.Image }}
        <img src="{{ .Params.Image | absURL }}" alt="" class="img-fluid d-block mx-auto rounded-circle mb-4">
        {{ end }}
        <h4 class="widget-title">{{ .Title | markdownify }}</h4>
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- other links -->
<div class="widget">
  <h4 class="widget-title" id="more-links">Links</h4>
  <ul class="list-inline">
    {{ range first 5 .Site.Params.social }}
    <li class="list-inline-item">
      <a class="nav-link" href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a>
    </li>
    {{ end }}  </ul>
    <ul class="list-inline">
    <li class="list-inline-item"><a href="https://t.me/yerzhankaratay"><svg class="telegram-logo" width="32" height="32" viewBox="0 0 333334 333334"><path d="M166667 0c92048 0 166667 74619 166667 166667s-74619 166667-166667 166667S0 258715 0 166667 74619 0 166667 0zm80219 91205l-29735 149919s-4158 10396-15594 5404l-68410-53854s76104-68409 79222-71320c3119-2911 2079-3534 2079-3534 207-3535-5614 0-5614 0l-100846 64043-42002-14140s-6446-2288-7069-7277c-624-4992 7277-7694 7277-7694l166970-65498s13722-6030 13722 3951zm-87637 122889l-27141 24745s-2122 1609-4443 601l5197-45965 26387 20619z"/></svg></a></li>
    <li class="list-inline-item"><a href="https://goodreads.com/yerzhan"><img class="goodreads-logo" alt="goodreads" src="../../images/icons/goodreads.svg" width="32" height="32"></a></li>
    <li class="list-inline-item"><a href="https://vk.com/yerzhan.karatay"><img class="vk-logo" alt="vk" src="../../images/icons/vk.svg" width="32" height="32"></a></li>
    <li class="list-inline-item"><a href="https://medium.com/@yerzhan.karatay"><img class="medium-logo" alt="medium" src="../../images/icons/medium.svg" width="32" height="32"></a></li>
    <li class="list-inline-item"><a href="https://taplink.cc/yerzh_n"><img class="taplink-logo" alt="taplink" src="../../images/icons/taplink.svg" width="32" height="32"></a></li>
  </ul>
</div>

{{ if .Site.Data.gallery.enable }}
{{ with .Site.Data.gallery }}
<section>
  <div class="container-fluid px-0">
    <div class="text-center">
      <h4 class="widget-title">My Gallery</h4>
    </div>
    <div class="row no-gutters">
      {{ range .gallery }}
      <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <a href="{{ .image | absURL}}" class="venobox" data-gall="gallery"><img class="img-fluid w-100"
            src="{{ .image | absURL}}" alt=""></a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ end }}
