{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        {{ if .Params.Image }}
        <img src="{{ .Params.Image | absURL }}" alt="" class="img-fluid d-block mx-auto rounded-circle mb-4">
        {{ end }}
        <h4 class="widget-title">{{ .Title | markdownify }}</h4>
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- other links -->
<div class="widget">
  <h4 class="widget-title" id="more-links">Links</h4>
     <ul class="navbar-nav mr-auto">
        {{ range .Site.Params.social }}
        <li class="nav-item">
          <a class="nav-link" href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a>
        </li>
        {{ end }}
        <li class="nav-link"><a href="https://t.me/yerzhankaratay"  class="nav-link"><img alt="goodreads" src="../../images/icons/telegram.svg" width="32" height="32"><i class="{{ .icon }}"></i></a></li>
        <li class="nav-link"><a href="https://goodreads.com/yerzhan" class="nav-link"><img alt="goodreads" src="../../images/icons/goodreads.svg" width="32" height="32"><i class="{{ .icon }}"></i></a></li>
        <li class="nav-link"><a href="https://vk.com/yerzhan.karatay" class="nav-link"><img alt="goodreads" src="../../images/icons/vk.svg" width="32" height="32"><i class="{{ .icon }}"></i></a></li>
        <li class="nav-link"><a href="https://medium.com/@yerzhan.karatay" class="nav-link"><img alt="goodreads" src="../../images/icons/medium.svg" width="32" height="32"><i class="{{ .icon }}"></i></a></li>
        <li class="nav-link"><a href="https://taplink.com/yerzh_n" class="nav-link"><img alt="taplink" src="../../images/icons/taplink.svg" width="32" height="32"><i class="{{ .icon }}"></i></a></li>
      </ul>
      </div>
<!--  <ul class="navbar-nav mr-auto list-inline">
    <li class="list-inline-item"><a href="https://t.me/yerzhankaratay"><img alt="goodreads" src="../../images/icons/telegram.svg" width="32" height="32"></a></li>
    <li class="list-inline-item"><a href="https://goodreads.com/yerzhan"><img alt="goodreads" src="../../images/icons/goodreads.svg" width="32" height="32"></a></li>
    <li class="list-inline-item"><a href="https://vk.com/yerzhan.karatay"><img alt="goodreads" src="../../images/icons/vk.svg" width="32" height="32"></a></li>
    <li class="list-inline-item"><a href="https://medium.com/@yerzhan.karatay"><img alt="goodreads" src="../../images/icons/medium.svg" width="32" height="32"></a></li>
    <li class="list-inline-item"><a href="https://taplink.com/yerzh_n"><img alt="taplink" src="../../images/icons/taplink.svg" width="32" height="32"></a></li>
  </ul> -->


{{ if .Site.Data.gallery.enable }}
{{ with .Site.Data.gallery }}
<section>
  <div class="container-fluid px-0">
    <div class="text-center">
      <h4 class="widget-title">My Gallery</h4>
    </div>
    <div class="row no-gutters">
      {{ range .gallery }}
      <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <a href="{{ .image | absURL}}" class="venobox" data-gall="gallery"><img class="img-fluid w-100"
            src="{{ .image | absURL}}" alt=""></a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ end }}
