{{ define "main" }}

<section class="section-sm pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2>{{ .Title | markdownify }}</h2>
        <div class="content mb-4">
          {{ .Content }}
        </div>
        <div class="row">
        <!--  <div class="col-lg-4 small-post-border">
            <i class="ti-mobile h1 text-primary"></i>
            <h5 class="font-weight-light my-3">Phone</h5>
            {{ .Site.Params.mobile }}
          </div>
          <div class="col-lg-4 small-post-border">
            <i class="ti-email h1 text-primary"></i>
            <h5 class="font-weight-light my-3">Email</h5>
            {{ .Site.Params.email }}
          </div>
          <div class="col-lg-4 small-post-border">
            <i class="ti-location-pin h1 text-primary"></i>
            <h5 class="font-weight-light my-3">Location</h5>
            {{ .Site.Params.location | markdownify }}
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section-sm pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mb-4">Hi Write To Me</h2>
        <form name="contact" class="contact-form row" action="/thank-you/" method="POST" data-netlify="true">
            <input type="hidden" name="form-name" value="contact" />
            <!-- Name input -->
            <div class="col-lg-6 form-group">
                <label class="control-label" for="Name"></label>
                <div class="col-lg-6">
                    <input id="contact-form-name" name="Name" type="text" placeholder="Name" width="50%" class="form-control input-md form-control mb-4" required="" autocomplete="on">
                </div>
            </div>
            <!-- Email input-->
            <div class="col-lg-6 form-group">
                <label class="control-label" for="Email"></label>
                <div class="col-lg-6">
                    <input id="contact-form-email" name="Email" type="email" width="50%" placeholder="Email Address" class="form-control input-md form-control mb-4" required="" autocomplete="on">
                </div>
            </div>
            <!-- Subject -->
            <div class="col-12 form-group">
                <label class="control-label" for="Subject"></label>
                <div class="">
                    <input id="contact-form-subject form-control mb-4" name="Subject" type="text" placeholder="Subject" class="form-control input-md" required="" autocomplete="off">
                </div>
            </div>
            <!-- Message -->
            <div class="col-12 form-group">
                <label class="col-lg-6 control-label" for=""></label>
                <textarea class="form-control form-control mb-4" id="contact-form-message" name="Message" placeholder="What's up?" rows="8"></textarea>
            </div>
            <!-- Button -->
            <div class="col-12 form-group">
                <button type="submit" value="Submit" id="Form-submit" class="btn btn-primary">Send</button>
            </div>
        </form>
        <!--
        <form action="#" method="POST" class="row">
          <div class="col-lg-6">
            <input type="text" class="form-control mb-4" id="name" name="name" placeholder="Your Name">
          </div>
          <div class="col-lg-6">
            <input type="email" class="form-control mb-4" id="email" name="email" placeholder="Your Email">
          </div>
          <div class="col-12">
            <input type="text" class="form-control mb-4" id="subject" name="subject" placeholder="Subject">
          </div>
          <div class="col-12">
            <textarea name="message" id="message" class="form-control mb-4" placeholder="Your Message"></textarea>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">send message</button>
          </div>
        </form> -->
      </div>
    </div>
  </div>
</section>

{{ end }}
